.card {
  cursor: pointer;
  width: 100%; /* Ancho de las Card */
  height: 655px; /* Altura de las Card */
  position: relative; /* Para que los elementos internos se posicionen correctamente */
  background-color: #000000; /* Color de fondo */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.cardImage {
  width: 100%; /* Ancho de la imagen */
  height: 100%; /* Altura de la imagen */
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  opacity: 0.6; /* Opacidad inicial */
  transition: opacity 0.3s ease; /* Animación suave */
}

/* Mantener la Opacidad */
.card:hover .cardImage {
  opacity: 0.8; /* Opacidad al hacer hover */
}

/* Contenido de las Card */
.cardContent {
  position: absolute; /* Posiciona el contenido sobre la imagen */
  top: 80%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */ 
  transform: translate(-50%, -50%); /* Centra el contenido */
  text-align: center; /* Alinea el texto al centro */
  color: #000000; /* Color del texto */
  z-index: 2; /* Encima de la imagen */
}


.cardTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente del título */
  font-size: 3rem; /* Tamaño del título */
  font-weight: bold; /* Negrita */
  color: #ffffff; /* Color del texto */
}

.cardSubtitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}

/* Transicion desde abajo */
.cardOverlay {
  position: absolute; /* Posiciona la figura roja */
  bottom: -100%; /* Oculto inicialmente */
  left: 0; /* Ajusta la posición horizontal */
  width: 100%; /* Ancho de la figura roja */
  height: 40%; /* Altura de la figura roja */
  background-color: rgb(0, 85, 255); /* Color azul con transparencia */
  transition: bottom 0.3s ease; /* Animación suave */
  z-index: 1; /* Debajo del contenido */
}

/* Animación al hacer hover */
.card:hover .cardOverlay {
  bottom: 0; /* La figura roja se desliza hacia arriba */
}
