/* src/components/Navbar/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #36c;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFFFFF;
}

/* Hoover en el titulo principal */
.navbar h1:hover {
  color: #D50032;
}

.navbarMenu {
  display: flex;
  list-style: none;
}

.navbarMenu li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Animación para cada opción de la Navbar */
.navbarMenu li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background-color: #FFFFFF;
  transition: width 0.3s ease; /* Hace que la línea se deslice */
}

.navbarMenu li:hover {
  color: #D50032;
}

.navbarMenu li:hover::after {
  width: 100%; /* Anima la línea subrayada */
}
