/* Estilos generales de la navbar */
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #36c;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para el logo */
.navbarTittle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}

/* Estilos para el logo */
.navbarTittle h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  transition: color 0.3s ease;
}

/* Cambiar color de letra */
.navbar h1:hover {
  color: #000000;
}

/* Estilo de los enlaces dentro de .navbarMenu */
.navbarMenu a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

/* Cambiar color de letra */
.navbarMenu a:hover {
  color: #000000;
}

/* Estilos para el menú de navegación */
.navbarMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos de las opciones */
.navbarMenu li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Cambiar color de letra */
.navbarMenu li:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.3);
  animation: bounce 0.5s ease-in-out;
}

/* Subrayado animado */
.navbarMenu li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}

/* Ancho del subrayado */
.navbarMenu li:hover::after {
  width: 100%;
}

/* Botón del menú hamburguesa */
#menuIcon {
  display: none;
  font-size: 35px;
  z-index: 101;
  cursor: pointer;
  color: #FFFFFF;
}

/* Ocultar checkbox del menú */
#menuToggle {
  display: none;
}

/* Estilos para el menú desplegable en móviles */
@media (max-width: 768px) {

  /* Estilo para el Navbar */
  .navbarMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #36c;
    padding: 1rem;
    border-radius: 8px;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* Estilo para las opciones */
  #menuToggle:checked~.navbarMenu {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    animation: slideDown 0.5s ease-in-out;
  }

  /* Estilo para las opciones */
  .navbarMenu li {
    text-align: center;
    padding: 0.5rem 0;
  }

  /* Subrayado animado */
  .navbarMenu li::after {
    bottom: -2px;
    background-color: #000000;
  }

  /* Estilo para el botón del menú hamburguesa */
  #menuIcon {
    display: block;
  }
}

/* Keyframes para la animación de deslizamiento */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframes para el efecto bounce */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}